services:
    app:
        build: apps/backend
        container_name: skylogs_app
        restart: unless-stopped
        working_dir: /var/www
        volumes:
            - app_data:/var/www
        networks:
            - skylogs_net
        depends_on:
            - mongo
            - redis
        environment:
            - APP_ENV=local
            - APP_DEBUG=true
            - DB_CONNECTION=mongodb
            - DB_HOST=mongo
            - DB_PORT=27017
            - CACHE_DRIVER=redis
            - QUEUE_CONNECTION=redis
            - REDIS_HOST=redis
            - REDIS_PORT=6379

    nginx:
        image: nginx:latest
        container_name: skylogs_nginx
        restart: unless-stopped
        ports:
            - "8000:80"
        volumes:
            - app_data:/var/www
            - ./apps/backend/nginx.conf:/etc/nginx/conf.d/default.conf
        networks:
            - skylogs_net
        depends_on:
            - app

    mongo:
        image: mongo:latest
        container_name: skylogs_mongo
        restart: unless-stopped
        ports:
            - "27018:27017"
        networks:
            - skylogs_net
        volumes:
            - mongo_data:/data/db

    redis:
        image: redis:latest
        container_name: skylogs_redis
        restart: unless-stopped
        ports:
            - "6380:6379"
        networks:
            - skylogs_net

    horizon:
        build:
            context: apps/backend
            dockerfile: HorizonDockerfile
        container_name: skylogs_horizon
        restart: unless-stopped
        working_dir: /var/www
        volumes:
            - app_data:/var/www
        depends_on:
            - app
            - mongo
            - redis
        networks:
            - skylogs_net

    front:
        build: apps/frontend
        restart: unless-stopped
        ports:
            - 8080:3000
        environment:
            - NEXTAUTH_SECRET=GK/IKHJ55WUBSIDAFLT3vcQmud1t5PIZHsclw40JtVs=
            - NEXTAUTH_URL=http://localhost:8000
            - NEXT_PUBLIC_BASE_URL=http://nginx:80/api/v1/
        networks:
            - skylogs_net
        depends_on:
            - nginx

networks:
    skylogs_net:
        driver: bridge

volumes:
    app_data:
    mongo_data:
        driver: local
